  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .autorization {
    border: #1976d2;
    margin-right: 20px;  
    background: #1976d2; 
    color: white;
    font-size: 14px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #menu_id { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #1976d2; /* Параметры рамки вокруг */
    width: 150px; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
   }

   #menu_id div {
    padding: 2px; /* Поля вокруг ссылок */
   }

   #menu_id m { 
    display: block; /* Отображать ссылку как блок */
    padding: 2px; /* Поля вокруг ссылок */
    margin: 1px; /* Отступы вокруг */
    font-size: 0.9em; /* Размер текста */
    text-decoration: none; /* Убираем подчеркивание текста */
   }

   #menu_id m:hover { 
    background: #faf3d2; /* Цвет фона */
    border: 1px dashed #634f36; /* Добавление пунктирной рамки */
    margin: 0; /* Убираем поля */
   }

   #content_id { /* Правая колонка */
    margin: 10px 5px 20px 225px; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    width: 800px;
    height: 100px;
   /* border: 1px solid #1976d2; /* Параметры рамки вокруг */
   }
  
.registration {
  border: #1976d2;
  margin-right: 20px;  
  background: #1976d2; 
  color: white;
  font-size: 14px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation {
  border: none;
  background: none;
  color: #1976d2;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
  width: 900px; /* Ширина макета */
  margin: 0 auto; /* Выравнивание по центру */
  align-items: center;
 }
 #nav {
  width: 200px; /* Ширина левой колонки */
  float: left;
 }
 #cont {
  margin: 10px 0px 20px 180px; /* Значения отступов */
  /*border: 1px solid #1976d2;  /*Параметры рамки вокруг */
  width: 800px;
 }

 #header { 
  font-size: 2.2em; /* Размер текста */
  text-align: center; /* Выравнивание по центру */
  padding: 5px; /* Отступы вокруг текста */
  height: 70px;
 }

 #footer { 
  clear: both; /* Отменяем действие float */
  padding: 5px; /* Отступы вокруг текста */
  align-items: center;
  text-align: center;
 }