<div class="container">
    <div class="row" style="width: 60%; height: 150px;">
        <label class="col-sm-2">Text</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="textAreaExample1" rows="4" placeholder="Text" wrap="soft" maxlength="500" [(ngModel)]="PostText"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button (click)="post()" class="btn btn-primary">
                Post
            </button>
        </div>
    </div>
</div>