.profile-list {
    position: relative;
    top: -140px;
    left: 10px;
    padding: 5px 0;
  }

  .btn-sort {
    background: white;
    border-width: 0px;
    border-color: white;
    outline: none;
  }