body{margin-top:20px;}

.post-list {
  position: relative;
  top: -140px;
  left: 10px;
  padding: 5px 0;
}

.post-list .picture {
  max-width: 400px;
  overflow: hidden;
  height: auto;
  border-radius: 6px;
}

.post-list .label{
    font-weight:normal;    
}

.post-list .picture {
  max-width: 210px;
  height:auto;
}

.post-list .picture img {
  /*width: 100%;*/
  height:auto;
}

.post-list h4 {
  font-size: 20px;
}

.post-list h6 {
  color: #888;
}

.post-list p {
  float: left;
}

.post-list:after {
  height: 1px;
  background: #EEEEEE;
  width: 60%;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  position: absolute;
}

.post-list .btn-download {
  margin-top: 45px;
}

.btn-info {
  color: #1084FF;
  border-color: #269abc;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  opacity: 0.79;
  padding: 9px 18px;
}
.b-t-n {
  border-width: 2px;
  background-color: rgba(0,0,0,0);
  font-weight: 400;
  opacity: 0.8;
  padding: 7px 16px;
}

.btn-like-dislike {
  background: white;
  border-width: 0px;
  border-color: white;
  outline: none;
}